@keyframes float {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  99% {
    transform: translate(100vw, 10px);
    opacity: 1;
  }

  100% {
    transform: translate(100vw, 10px);
    opacity: 0;
    display: none;
  }
}

.dog-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.animated-gif {
  position: absolute;
  left: 0;
  opacity: 0;
  /* top: 0; */
  animation: float 5s ease-in-out;
}
